@charset "utf-8";

body{
font-size: 16px;
color: #6C6C6F;
background-color: #fff;
font-family: Helvetica, sans-serif;
line-height: 1.75;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li{
    list-style: none;
}

.inner{
    width: 90%;
    max-width: 1170px;
    margin:0 auto ;
}

/* header */

header{
    padding: 30px 0;
    background-color: #123D88;
}

h1{
    line-height: 1;
}

/* footer */

footer{
    padding: 30px 0;
    background-color: #123D88;
    text-align: right;
}

small{
    color: #fff;
    font-size: 15px;
}

/* outline */

.outline-notes{
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.05em;
    color: #256BE6;
    text-transform: uppercase;
    margin-bottom:18px;
}

.outline-title{
    font-size: 36px;
    color: #262934;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 30px;
}

.outline p{
    margin-bottom: 30px;
}

/* bnt */

.btn{
display: inline-block;
text-decoration: none;
color: #fff;
background-color: #256BE6;
font-weight: bold;
text-align: center;
letter-spacing: 0.025em;
line-height: 1.5;
width: 200px;
border-radius: 999px;
padding: 20px 0;
margin: 60px 0 0;
}

/* card */

.card-icon{
margin-bottom: 40px;
}

.card-title{
    margin-bottom: 20px;
    color: #2f2f35;
    font-size: 22px;
    font-weight: bold;
}

/* home */

.features{
    padding: 80px 0;
}

.features .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.features .outline{
    width: 42.7%;
}

.features-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin-bottom: -70px;
}

.card{
    width: 44%;
    margin-bottom: 70px;
}

/* payment */

.payment{
    padding: 80px 0 ;
    background-color: #f7faff;
}

.payment .inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.payment-pic{
    width: 50%;
}

.payment .outline{
    width: 42.7%;
}

/* wedo */

.wedo{
    padding: 80px 0;
    text-align: center;
}

.wedo .outline{
    margin-bottom: 80px;
}

/* service */

.service{
    background: #F7FAFF;
    padding: 80px 0;
}

.service-title{
      color: #2F2F35;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 60px;
}

.service-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-list .card{
    background: #fff;
    width: 29.1%;
     padding: 40px 25px;
}

.service-list .btn{
    margin: 40px auto 0;
}

/* offer */

.offer{
    padding: 80px 0;
    background-color:#505050 ;
    color: #fff;
    text-align: center;
}

.offer .outline-title{
    color: #fff;
}

.offer .btn{
margin-left: auto;
margin-right: auto;
}
