@charset "utf-8";

body{
font-size: 16px;
color: #6C6C6F;
background-color: #fff;
font-family: Helvetica, sans-serif;
line-height: 1.75;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

li{
    list-style: none;
}

.inner{
    width: 90%;
    max-width: 1170px;
    margin:0 auto ;
}

/* header */

header{
    padding: 30px 0;
    background-color: #123D88;
}

h1{
    line-height: 1;
}

/* footer */

footer{
    padding: 30px 0;
    background-color: #123D88;
    text-align: right;
}

small{
    color: #fff;
    font-size: 15px;
}

/* outline */

.outline-notes{
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.05em;
    color: #256BE6;
    text-transform: uppercase;
    margin-bottom:18px;
}

.outline-title{
    font-size: 36px;
    color: #262934;
    line-height: 1.3;
    font-weight: bold;
    margin-bottom: 30px;
}

.outline p{
    margin-bottom: 30px;
}

.btn{
display: inline-block;
text-decoration: none;
color: #fff;
background-color: #256BE6;
font-weight: bold;
text-align: center;
letter-spacing: 0.025em;
line-height: 1.5;
width: 200px;
border-radius: 999px;
padding: 20px 0;
margin: 30px 0 0;
}

/* home */

.features{
    padding: 80px 0;
}

.features .inner{
    display: flex;
}